extends ../slides-src/layout.pug
block variables
	- title = 'Capacitación Node'
block slides
	section
		img(src="img/logo.svg" style={ background: 'none', border: 'none', 'box-shadow': 'none' })
	section
		ul
			p
				strong Node.js 
				| es un entorno en tiempo de ejecución multiplataforma para ejecutar código javascript del lado del servidor.
	section
		h3 Instalación
		h4 En Ubuntu: 
		pre
			code.bash(data-trim).
				sudo apt-get install nodejs
		br
		h4 En Windows: 
		a(href="https://nodejs.org/es/download/") https://nodejs.org/es/download/
	section
		h3 Node Modules
		img(src="img/modules.jpg")
	section
		h3 Node Modules
		ul
			li Módulos nativos (core)
			li Módulos de terceros
			li Módulos propios
	section
		h3 Modúlo nativo
		pre
			code.javascript(data-trim).
				const path = require('path');

				path.extname('index.html');
				// .html

				path.join('/foo', 'bar', 'baz/asdf', 'quux', '..');
				// /foo/bar/baz/asdf
	section
		h3 Modúlos de terceros
		pre
			code.javascript(data-trim).
				const _ = require('lodash');

				_.chunk(['a', 'b', 'c', 'd'], 2);
				// [['a', 'b'], ['c', 'd']]
	section
		h2 Node Package Manager (NPM)
		pre.fragment
			code.bash(data-trim).
				npm init		
	section
		h2 Instalación de módulos
		- command = "npm install <package_name>"
		- command2 = "npm i <package_name>"
		pre
			code.bash(data-trim)= command
		pre
			code.bash(data-trim)= command2
		h3 devDependencies
		- command = "npm install --save-dev <package_name>"
		- command2 = "npm install -D <package_name>"
		pre
			code.bash(data-trim)= command
		pre
			code.bash(data-trim)= command2
		h3 Global Package
		- commandGlobal = "npm install --global <package_name>"
		- commandGlobal2 = "npm install -g <package_name>"
		pre
			code.bash(data-trim)= commandGlobal
		pre
			code.bash(data-trim)= commandGlobal2
	section
		h3 Package.json
		ul
			li Guarda las dependencias del proyecto
			li Se pueden definir npm scripts
	section
		h3 Modúlos propios
		pre
			code.javascript(data-trim).