-
	var revealFolder = '../slides-src/reveal/'
	var title = 'Capacitación'
block variables

mixin svg(name)
	img(src=`img/${name}.svg` style={ width: '40%', background: 'none', border: 'none', 'box-shadow': 'none' })&attributes(attributes)
mixin img(name)
	img(src=`img/${name}`)&attributes(attributes)
doctype html
html
	head
		meta(charset="utf-8")
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet" href=`${revealFolder}css/reveal.css`)
		link(rel="stylesheet" href=`${revealFolder}css/theme/league.css`)

		link(rel="stylesheet" href=`${revealFolder}lib/css/zenburn.css`)
		block head
	body
		.reveal
			.slides
				block slides


		script(src=`${revealFolder}lib/js/head.min.js`)
		script(src=`${revealFolder}js/reveal.js`)
		script.
			Reveal.initialize({
				history: true,
				transition: "none",
				dependencies: [
					{ src: '#{revealFolder}plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});